h1 {
  font-family: Georgia, serif;
  text-align: center;
}

h2 {
  padding: 20px 20px 20px 20px;
  font-family: Georgia, serif;
  text-align: center;
}

h3 {
  font-family: Georgia, serif;
  text-align: center;
}

h4 {
  font-family: Georgia, serif;
  text-align: center;
}

p {
  font-family: Gill Sans, sans-serif;
  text-align: center;
}

ul {list-style: none;
}
