body {
    background-color: #5B92B3;
}

h1 {
    font-family: Georgia, serif;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    padding: 20px 20px 20px 20px;
    font-family: Georgia, serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

h3 {
    margin: 20px 0px 0px 0px;
    font-family: Georgia, serif;
    text-align: center;
}

h4 {
    font-family: Georgia, serif;
    text-align: center;
}

p {
    font-family: Gill Sans, sans-serif;
    text-align: center;
}

ul {
    list-style: none;
}
