/*CSS DOCUMENT */


body {
	background-color: #fafafa;
	color: #333333;
	font-family: work sans;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 10; 
	padding:10; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {
	font-family: FranklinGothic.ttf;
	font-size: 14; 
	font-weight: _____;
}

h2 {
	font-family: Trade Gothic.ttf;
	font-size: 14; 
	font-weight: _____;
}

h3 {
	font-size: ______; 
	font-weight: _____;
}
