/*CSS DOCUMENT */


body {
	background-color: #fafafa;
	color: #333333;
	font-family: work sans;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

@font-face {
    font-family: franklin gothic;
    src: url("franklingothic.ttf") format('truetype');
}

@font-face {
    font-family: trade gothic;
    src: url("trade gothic.ttf") format('truetype');
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 10; 
	padding:10; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {
	font-family: franklin gothic;
	font-size: 16; 
	font-weight: normal;
}

h2 {
	font-family: trade gothic;
	font-size: 16; 
	font-weight: normal;
}

h3 {
	font-size: 14; 
	font-weight: bold;
}
